<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <!-- DPI感知配置 -->
    <system.windows.forms.applicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
        <add key="CheckForOverflowUnderflow" value="false"/>
    </system.windows.forms.applicationConfigurationSection>
    
    <!-- 运行时配置 -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
    <!-- 应用程序设置 -->
    <appSettings>
        <add key="EnableHighDpiSupport" value="true"/>
        <add key="MaxFontScale" value="1.5"/>
        <add key="MinFontScale" value="0.8"/>
    </appSettings>
</configuration> 